<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="shortcut icon" href="./images/EduSynctask.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>
<body>
    <header>
        <div class="logo" title="EduSyncTask">
            <img src="./images/slulogo.png" alt="">
            <h2>OJT PORTAL</h2>
        </div>
        <div class="navbar">
            <a href="/dashboard" class="active">
                <span class="material-icons-sharp">home</span>
                <h3>Home</h3>
            </a>
            <a href="/getHistory">
                <span class="material-icons-sharp">today</span>
                <h3>History</h3>
            </a> 
            <a href="/getChangePassword">
                <span class="material-icons-sharp">password</span>
                <h3>Change Password</h3>
            </a>
            <a href="/logout">
                <span class="material-icons-sharp" onclick="">logout</span>
                <h3>Logout</h3>
            </a>
        </div>
        <div id="profile-btn">
            <span class="material-icons-sharp">person</span>
        </div>
        <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
        </div>
        
        
    </header>
    <div class="container">
        <aside>
            <div class="profile">
                    <div class="top">
                        <button id="uploadPhoto">
                            <label for="fileInput">
                                <div class="profile-photo">
                                    <% if (userData.photo === null) { %>
                                        <img id="profile-photo-img" src="./images/uploadPhoto.png" alt="">
                                    <% } else { %>
                                        <img id="profile-photo-img" src="<%= userData.photo %>" alt="">
                                    <% } %>
                                </div>
                            </label>
                            <input type="file" id="fileInput" style="display: none;" accept="image/*" onchange="handleFileSelect(event)">
                        </button>
                        <div class="info">
                            <p>Hey, <b><%= userData.firstName %></b> </p>
                            <small class="text-muted"><%= userData.studID %></small>
                        </div>  
                    </div>
                <div class="about">
                    <h3> ABOUT YOU</h3>
                    <hr><br>
                    <h5>Full Name</h5>
                    <p><%= userData.firstName %> <% if (userData.middleInitial !== null) { %> <%= userData.middleInitial %>. <% }%> <%= userData.lastName %></p>
                    <h5>Birth Date</h5>
                    <p><%= userData.dob %></p>
                    <% if (!userData.phoneNumber == 0) { %>
                        <h5>Contact</h5>
                        <p>0<%= userData.phoneNumber %></p>
                    <% } %>
                    <h5>Email</h5>
                    <p><%= userData.email %></p>
                    <% if (userData.address !== null) { %>
                    <h5>Address</h5>
                    <p><%= userData.address %></p>
                    <% } %>
                    <h5>Department</h5>
                    <p><%= userData.deptName %></p>
                    <h5>Program</h5>
                    <p><%= userData.programDescription %></p>
                    <h5>Course</h5>
                    <p><%= userData.courseNumber %>: <%= userData.courseCode %></p>
                    <br>
                    
                    <% if (userData.companyName !== null) { %>
                        <h3> COMPANY</h3>
                        <hr><br>
                        <div class="company">
                          <h5>Company</h5>
                          <p><%= userData.companyName %></p>
                          <h5>Address</h5>
                          <p><%= userData.companyLocation %></p>
                          <h5>Description</h5>
                          <p><%= userData.companyDescription %></p>
                          <% if (userData.supervisor !== null) { %>
                          <h5>Supervisor</h5>
                          <p><%= userData.supervisor %></p>
                          <% } %>
                        </div>
                      <% } %>
                </div>
            </div>
        </aside>

        <main>
            <h1>Progress</h1>
            <div class="progress-bar">
                <div id="progress" class="progress"><p id="progPercent"></p></div>
                <% if (userData.companyName !== null) { %>
                <button id="modalBtn">Daily Report</button>
                <% } else { %>
                    <button id="modalBtn" disabled style="display: none;">Daily Report</button>
                <% } %> 
            </div>

            <!-- Progress Modal -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 class="title-modal">Add Work Details</h2>
                    <form id="workForm" action="/submitDailyReport" method="post" autocomplete="off">
                        <label for="renderedHours">Date</label>
                        <p id="currentDate" name="currentDate"><%= userData.currentDate %></p>
                        <br>
                        <label for="renderedHours">Rendered Hours</label><br>
                        <input type="text" id="renderedHours" name="renderedHours" required placeholder="HH:MM:SS"><br>
                        <br>
                        <label for="description">Description</label>
                        <br>
                        <textarea id="description" name="description" rows="4" cols="30" required placeholder="Describe your accomplishment for the day..."></textarea>
                        <br>
                        <button class="submit-dtr" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <!-- End of Progress Modal -->

            <% if (userData.companyName !== null) { %>
                <h2>DTR for the last 3 days</h2>
                <div class="timetable" id="timetable">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Work Description</th>
                                <th>Rendered Hours</th>
                            </tr>
                        </thead>
                        <tbody id="recordsTable">
                            <!-- Records will be populated here -->
                        </tbody>
                    </table>
                </div>
              <% } %>

        </main>

        <div class="right">
            <div class="announcements">
                <h2>Requirements</h2>
                <div class="updates">
                    <div class="message">
                        <span class="close" onclick="closeDocumentModal()">&times;</span>
                        <h3 id="submittedDisplay">Submitted Documents</h3>
                            <form id="documentForm">
                            </form>
                        <h3 id="pendingDisplay">Other required documents</h3>
                        <form id="pendingDocument">
                            </form>
                    </div>
                </div>
            </div>

            <div class="announcements">
                <h2>Announcements</h2>
                <div class="updates" id="updates">
                </div>
            </div>
        </div>

    </div>
    <script src ="/javascripts/announcement.js"></script>
    <script src ="/javascripts/document.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/modal.js"></script>
    <script src="/javascripts/recentRecords.js"></script>
</body>
</html>

