<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="shortcut icon" href="./images/EduSynctask.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/dashboardFaculty.css">
</head>
<body>

    
    <header>
        <div class="logo" title="EduSyncTask">
            <img src="./images/slulogo.png" alt="">
            <h2>OJT PORTAL</h2>
        </div>
        <div class="navbar">
            <a href="/getDashboardFaculty" class="active">
                <span class="material-icons-sharp">home</span>
                <h3>Home</h3>
            </a>
            <% if (userData.totalStudents > 0) { %>
                <a href="/getStudentList">
                    <span class="material-icons-sharp">today</span>
                    <h3>Students</h3>
                </a> 
            <% } %>
            <a href="/getPasswordFaculty">
                <span class="material-icons-sharp">password</span>
                <h3>Change Password</h3>
            </a>
            <a href="/logout">
                <span class="material-icons-sharp" onclick="">logout</span>
                <h3>Logout</h3>
            </a>
        </div>
        <div id="profile-btn">
            <span class="material-icons-sharp">person</span>
        </div>
        <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
        </div>
        
        
    </header>
    <div class="container">
        <aside>
            <div class="profile">
                <div class="top">
                    <button id="uploadPhoto">
                        <label for="fileInput">
                            <div class="profile-photo">
                                <% if (userData.photo === null) { %>
                                    <img id="profile-photo-img" src="./images/uploadPhoto.png" alt="">
                                <% } else { %>
                                    <img id="profile-photo-img" src="<%= userData.photo %>" alt="">
                                <% } %>
                            </div>
                        </label>
                        <input type="file" id="fileInput" style="display: none;" accept="image/*" onchange="handleFileSelect(event)">
                    </button>
                    <div class="info">
                        <p><b><%= userData.lastName %>, <%= userData.firstName %> <%= userData.middleInitial %></b> </p>
                        <small class="text-muted"><%= userData.departmentAcronym %></small>
                    </div>
                </div>
                <div class="about">
                    <h3> PERSONAL DETAILS</h3>
                    <hr><br>
                    <h5>Full Name</h5>
                    <% if (userData.prefix !== null) { %>
                        <p><%= userData.prefix %>. <%= userData.firstName %> 
                            <% if (userData.middleInitial !== null) { %> <%= userData.middleInitial %>. <% }%> 
                            <%= userData.lastName %> <%= userData.suffix %></p>
                    <% } else { %>
                        <p><%= userData.firstName %> 
                            <% if (userData.middleInitial !== null) { %> <%= userData.middleInitial %>. <% }%> 
                            <%= userData.lastName %> <%= userData.suffix %></p>
                    <% } %>
                    <h5>Birth Date</h5>
                    <p><%= userData.birthDate %></p>
                    <% if (!userData.phoneNumber == 0) { %>
                        <h5>Contact</h5>
                        <p>0<%= userData.phoneNumber %></p>
                    <% } %>
                    <h5>Email</h5>
                    <p><%= userData.teacherEmail %></p>
                    <br>
                    <h3> OTHER DETAILS</h3>
                    <hr><br>
                    <h5>Department</h5>
                    <p><%= userData.departmentName %></p>
                </div>
            </div>
        </aside>

        <main>
            <h1>Student Interns</h1>

            <!-- Search Bar -->
            <input class="search__input" type="text" placeholder="Search">
            <!--Search Bar-->
            <div class= "sorting">
                <label for="sortDropdown">Sort by:  </label>  
                <select id="sortDropdown">
                <% if (userData.totalStudents > 0) { %>
                  <option value="name" id="sortByName">Name</option>
                  <option value="company" id ="sortByCompany">Company</option>
                  <option value="progress" id = "sortByProgress">Progress</option>
                <% } else { %>
                    <option value="name">Name</option>
                    <option value="company">Company</option>
                <% } %>
                </select>
            </div>
            <div class="timetable" id="timetable">
                <table>
                    <% if (userData.totalStudents > 0) { %>
                        <thead>
                            <tr>
                                <th>Student's Name</th>
                                <th>Company</th>
                                <th>Progress Bar</th>
                                <th>Subject</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                    <tbody id="recordsTable">
                        <!-- Records will be populated here -->
                    </tbody>
                    <% } else { %>
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Company</th>
                                <th>Contact Information</th>
                                <th>Adviser</th>
                                <th>Supervisor</th>
                            </tr>
                        </thead>
                        <tbody id="studentTable"></tbody>
                    <% } %>
                </table>
            </div>
                        <!-- Progress Modal -->
            <div id="myModal" class="modal">
                <div class="modal-content" id="modalContent">
            </div>
            <!-- End of Progress Modal -->
            
        </main>

        <div class="right">
            <div class="announcements">
                <h2>Announcements</h2>
                <div class="updates">
                    <div class="message">
                        <p> <b>Academic</b> Summer training internship with Live Projects.</p>
                        <small class="text-muted">2 Minutes Ago</small>
                    </div>
                    <div class="message">
                        <p> <b>Co-curricular</b> Global internship oportunity by Student organization.</p>
                        <small class="text-muted">10 Minutes Ago</small>
                    </div>
                    <div class="message">
                        <p> <b>Examination</b> Instructions for Mid Term Examination.</p>
                        <small class="text-muted">Yesterday</small>
                    </div>
                </div>
            </div> 
        </div>

    </div>
    <script src ="/javascripts/document.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/dashboardFaculty.js"></script>
    <script src="/javascripts/studentTable.js"></script>
    <!-- <script src="/javascripts/modal.js"></script> -->
</body>
</html>

